.blogs{
    display:flex;
    flex-direction:column;
    flex-wrap: nowrap;
    flex: 0, 1, auto;
    align-items: left;
    justify-content: top;
    margin-left:  15%;
    margin-right:  5%;
    margin-top: 0%;
    margin-bottom: 0%;

    border-radius: 25px;
    background-color: green;
    color: white;
    min-height: 550px;
    max-height: 550px;
    min-width: 900px;


    font-family: 'VT323', monospace;

    overflow-y:scroll;
}

.blogs h1{
    font-size: 85px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.blogs h2{
    font-size: 50px;
    padding: 0%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.blogs p{
    font-size: 45px;
    margin-left: 5%;
    margin-right: 5%;
}

.blogs li{
    font-size: 65px;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 5%;
}