.framesidebar {
  display:flex;
  flex-direction:column;
  flex-wrap: nowrap;
  flex: 0;
  align-items: center;
  justify-content: center;
  margin-left:  5%;
  margin-right:  5%;
  margin-top: 0%;
  margin-bottom: 0%;
}

.framesidebar img{
  height: 100x;
  width: 100px;
  align-items: center;
  padding-top: 25%;
  padding-bottom: 25%;
}
